<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Vコマース　サンプル</title>
  <link rel="stylesheet" type="text/css" href="assets/css/style.css">
  <link rel="stylesheet" type="text/css" href="assets/components/font-awesome/css/font-awesome.min.css">
  <script src="assets/js/jquery-1.11.3.min.js"></script>
  <script src="assets/components/underscore.js"></script>
  <script src="assets/js/vic.min.js"></script>
</head>
<body>
<h1 class="title">ViC Premium Movies For YumeTenbou</h1>

<div class="vic-wrapper">
  <div class="vic-content">

    <div class="vic" id="video-0">
      <div class="video_wrap">
        <video preload="none" class="video" src="assets/videos/sample01.mp4" poster="assets/images/poster.png" width="640" height="360"></video>
        <div class="controls">
          <i class="vic-btn btn-ico play fa fa-lg fa-play-circle-o"></i>
          <i class="vic-btn btn-ico pause fa fa-lg fa-stop-circle-o"></i>
        </div>
      </div>

      <div class="selected_item_wrap">
        <div class="selected_item_area">

        </div>
        <div class="vic-btn_area">

        </div>
      </div>

      <div id="timeDisplay"></div>
      <div id='console'></div>
    </div>


<!--     <div class="vic" id="video-1">
      <div class="video_wrap">
        <video preload="none" class="video" src="assets/videos/sample001.mp4" poster="assets/images/poster02.png" width="640" height="360"></video>
        <div class="controls">
          <i class="play fa fa-lg fa-play-circle-o"></i>
          <i class="pause fa fa-lg fa-stop-circle-o"></i>
        </div>
      </div>

      <div class="selected_item_wrap">
        <div class="selected_item_area">

        </div>
        <div class="vic-btn_area">

        </div>
      </div>

    </div> -->
  </div>
</div>
<div class="footer">
  All content, design, and layout are Copyright © 2015 ViC
</div>
<!--
<form id="form-1" method="POST" action="http://www.diy-tool.com/fs/diy/ToCart.html" style="display:none;">
<input type="hidden" name="url" value="/fs/diy/x01-6528" />
<input type="hidden" name="pagename" value="GoodsDetail" />
<input type="hidden" name="goodsId" value="941991" />

<div class="FS2_figure">
<table border="0" cellspacing="2" cellpadding="0" class="FS2_figure_table">
<tr>
<td style="vertical-align:middle;" nowrap="nowrap" class="FS2_figure_table_td_figure">数量</td>
<td style="vertical-align:middle;" class="FS2_figure_table_td_input_cnt"><input name="cnt" type="text" value="1" size="3" maxlength="16000" /></td>
<td style="vertical-align:middle;" class="FS2_figure_table_td_cart_btn"><input type="submit" id="toCart" name="買い物カゴに入れる" /></td>
</tr>
</table>
</div>
</form> 

<iframe NAME="nodisp" id="naiyo"  style="display:none"></iframe>
-->

<!-- 一旦今回はなれているuncderscorestemplateで。後々はReactに！ -->
<script type="text/template" id="vic_modal_contents">
  <div class="modal_wrap">
    <div class="modal">
      <div class="left_contents">
        <div class="item_img left_contents">
          <img src="<%= item.details.image.small %>" alt="placeholder" width="200" height="200"/>
        </div>
      </div>
      <div class="right_contents">
        <h3 class="header-style01"><%= item.details.name %></h3>
        <div class="price">¥<%= item.details.price %></div>
        <div class="vic-btn vic-btn-default vic add_item" onClick='toCart("<%= item.itemName %>")'>カートに入れる</div>
        <div class="description">
          <%= item.details.description %>
        </div>
        <i class="vic-btn btn-ico fa fa-lg fa-times-circle-o close"></i>
      </div>
    </div>
  </div>
</script>

<script type="text/template" id="vic_selected_item">
  <div class="selected_item">
    <img src="<%= item.details.image.small %>" alt="placeholder" width="120" height="120"/>
    <i class="vic-btn btn-ico fa fa-lg fa-times-circle-o unselect"></i>
  </div>
</script>

<img class="vic-mouse" src="assets/images/pointer.gif" width="30" height="30" />
</body>
</html>