
.modal {

  position: absolute;
  background: #fff;
  width: 500px;
  height: 300px;
  top: 50%;
  margin-top: -150px;
  left: 50%;
  margin-left: -250px;
  overflow: hidden;

  ////左
  .left_contents{
    float: left;
    margin: 20px;
  }

  .right_contents{
    overflow: hidden;
    .add_item{
      position: absolute;
      bottom: 10px;
      right: 10px;
    }
    .close {
      position: absolute;
      top: 10px;
      right: 10px;
    }
  }
}

.modal_wrap {
  position: absolute;
  width: 630px;
  height: 350px;
  top: 0;
  left: 0;
  z-index: 100;
  background: rgba(0,0,0,.3);

}